
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}



.join_membership-wrap{
    margin:0 auto;
    width:768px;

    .join_membership_logo{
        padding:60px 0 20px 0;
        .h_logo{
            display:block;
            margin:0 auto;
            width:244px;
            height:44px;
            background:url('../img/logo.png') no-repeat 0 0;
            background-size:240px auto;
        }
    }
























}



























